body {
	font-family: sans-serif;

}

h1 {
	color: #888;
}

.itemDiv {
	border-bottom: 1px solid #bbb;
}

#addBtn {
	background-color: #222;
	color: #ddd;
	border-radius: 5px;
	margin: auto;
	width: 20%;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}

.delBtn {
	background-color: #ddd;
	color: #555;
	border-radius: 5px;
	margin: 0 10px;
	width: 20%;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}
